{% extends 'base.html' %}
{% block content %}

<div class="container-fluid my-3">

    <div class="btn-group mb-3" role="group">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                Boards
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                {% for board in all_boards %}
                <li><a class="dropdown-item" href="#">{{ board['name'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card-group shadow">
        <div class="card">
            <div class="card-header">
                <h5 class="m-0"><i class="bi bi-file-earmark-medical"></i> Backlog</h5>
            </div>
            <div class="card-body">
                <div class="card border-info">
                    <div class="card-body">
                        <h5 class="card-title">Docker Deployment</h5>
                        <div class="card-text">Create a docker deployment file.</div>
                    </div>
                    <div class="card-footer text-muted">
                        <span class="badge bg-info text-dark">Created 2 days ago</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5 class="m-0"><i class="bi bi-arrow-up-right"></i> In Progress</h5>
            </div>
            <div class="card-body">
                
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5 class="m-0"><i class="bi bi-check-circle"></i> Done</h5>
            </div>
            <div class="card-body">
                <div class="card border-danger mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Fix Website Layout</h5>
                        <div class="card-text"></div>
                    </div>
                    <div class="card-footer text-muted">
                        <span class="badge bg-danger">Created 1 days ago</span>
                    </div>
                </div>
                <div class="card border-warning">
                    <div class="card-body">
                        <h5 class="card-title">Create Documentation</h5>
                        <div class="card-text">Write a long detailed documentation.</div>
                    </div>
                    <div class="card-footer text-muted">
                        <span class="badge bg-warning text-dark">Created 5 days ago</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5 class="m-0"><i class="bi bi-slash-square"></i> On Hold</h5>
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>

</div>

{% endblock %}